<!DOCTYPE html>
<html lang="en" ng-app="NewsApp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Dynamic News Portal App">
    <meta name="author" content="Pratik">

    <title>News Flips</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-home.css" rel="stylesheet">
    <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">News Flips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="world_news.html">World</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="business_news.html">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tech_news.html">Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="entertainment_news.html">Entertainment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sports_news.html">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./public/html/contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="offlineindex.html">Offline</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="newsSection" ng-cloak="newsSection">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-lg-12 col-xs-12 portfolio-item" >

          <h1 class="my-4">NewsFlips<br/>
            <small>{{newsHeading}}</small>
          </h1>
          <div class="row">

            <div class="card mb-4 col-lg-4 col-xs-12" ng-repeat="data in newArticles">
          
            <img class="card-img-top" src="{{data.urlToImage}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{data.title}}</h2>
              <p class="card-text">{{data.description}}</p>
              <a href="{{data.url}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer ">
              <p class="card-text">Posted by: {{data.author}} <!--on {{data.publishedAt}}--></p>
              <a href="#"></a>
            </div>
          </div>
          
        </div>
          <!--<div ng-model="newArticles">
            <ul>
              <li ng-show="!newArticles.length">No events</li>
              <li ng-repeat="data in newArticles" ng-class="IsFiltered(data.Filtered)">{{data.title}}</li>
            </ul>
          </div>-->
          
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item disabled">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="world_news.html">Newer &rarr;</a>
            </li>
          </ul>

        </div>



    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-1.7 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NewsFlips 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="pouchdb-6.3.4.min.js"></script>    
    <script src="app.js"></script>
    

  </body>

</html>
